[submodule "hortus-api"]
	path = hortus-api
	url = https://github.com/alexandrelamberty/hortus-api
[submodule "hortus-web-app"]
	path = hortus-web-app
	url = https://github.com/alexandrelamberty/hortus-web-app
[submodule "hortus-api-spec"]
	path = hortus-api-spec
	url = https://github.com/alexandrelamberty/hortus-api-spec
